body {
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    font-family: 'Ubuntu', sans-serif;
}
ul {
    padding-inline-start: 0px;
    width: 500px;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: grid;
    grid-template: 35% 35% / 35% 35%;
    grid-row-gap: 10px;*/
}
a {
    font-size: 25px;
    display:block;
    text-decoration: none;
    color:rgba(128, 128, 128, 9);
    min-width: 135px;
    padding: 30px 15px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    background-color: rgba(70, 130, 180, 0.3);  
}
li {
    list-style: none;
    margin: 2%;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    text-align: center;
    color:rgba(128, 128, 128, 9);
    width: 500px;
    margin: 0 auto;
}