body {
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    font-family: 'Ubuntu', sans-serif;
}
ul {
    padding-inline-start: 0px;
    padding: 0 30px;
}
a {
    display:block;
    text-decoration: none;
    color:rgba(128, 128, 128, 9);
    min-width: 135px;
    padding: 30px 15px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    background-color: rgba(70, 130, 180, 0.3);  
}
li {
    list-style: none;
}
h1 {
    font-size: 60px;
    text-align: center;
    color:rgba(128, 128, 128, 9);
}
.list {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}